.toolbar {
    background-color: #dedede;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: calc(100% - 300px);
    height: var(--h-toolbar);

    grid-area: toolbar;
}

@media (max-width: 1000px) {
    .toolbar {
        width: 100%;        
    }
}