.content {
    padding: 30px;
    padding-top: 100px;
    background-color: #aeb6bf;

    grid-area: content;
}

.content header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}